.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 2fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "navbar navbar navbar"
    "enunciado-area code-area code-area"
    "enunciado-area feedback-area feedback-area";
}

.navbar {  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo-area progress-bar-area menu-area"
    "logo-area progress-bar-area menu-area"
    "logo-area progress-bar-area menu-area";
  grid-area: navbar;
}

.logo-area { grid-area: logo-area; }

.progress-bar-area { grid-area: progress-bar-area; }

.menu-area { grid-area: menu-area; }

.feedback-area { grid-area: feedback-area; }

.enunciado-area { grid-area: enunciado-area; }

.code-area {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "buttons-area buttons-area buttons-area"
    "js-parsons-code-area js-parsons-code-area js-parsons-code-area";
  grid-area: code-area;
}

.buttons-area { grid-area: buttons-area; }

.js-parsons-code-area { grid-area: js-parsons-code-area; }
